### Q2. Write a program that takes two numbers as input and checks whether the first number is divisible by the second number.

In [ ]:
x=int(input())
y=int(input())
if (y % x) ==0:
    print("divisible")
else:
    print("not divisible")

### Q3. Write a program to print the first five odd numbers.

In [ ]:
x=1
for i in range(10):
    if (x%2)==1:
        print(x)
        x+=1
    else:
        x+=1

### Q4. Create a list of numbers and write a program to find the sum of all elements in the list.

In [ ]:
l1=[1,2,3,4,5]
sum=0
for i in l1:
    sum+=i
print(sum)

### Q5. Write a program that takes a year as input and prints whether it's a leap year.
    Every year that is exactly divisible by four is a leap year, except for years that are exactly divisible by 100, but these centurial years are leap years if they are exactly divisible by 400. For example, the years 1700, 1800, and 1900 are not leap years, but the years 1600 and 2000 are.

In [ ]:
year=input()
if year%4==0:
    print("leap year")
elif year%100==0 and year%400==0:
    print("leap year")
else:
    print('not a leap year')

### Q6. Write a program that takes a string as input and prints it in both uppercase and lowercase.

In [ ]:
x=input()
print(x.upper())
print(x.lower())

### Q7. Create a list of five elements and remove the third element.

In [ ]:
l1=[0,1,5,3,4]
l1.remove(5)
l1

### Q9. Create a list of numbers and write a program to sort it in ascending order.

In [ ]:
l2=[2,1,6,4,7,3,9]
l2.sort()
l2

### Q10. Write a program to print the multiplication table of a given number.

In [125]:
x=int(input())
for i in range(1,13):
    print(f"{x} * {i} =",x*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60

### Q11. Write a Python function square(num) that takes a number as input and returns its square.

In [1]:
def square(num):
    return(num*num)

### Q12. Write a Python function sum_of_digits(number) that takes an integer as input and returns the sum of its digits.

In [19]:
def sum_of_digits(number):
    total=0
    x=str(number)
    for i in x:
        total += int(i)
    return total        




print(sum_of_digits(124))

7

### Q13. Write a Python function reverse_string(s) that takes a string as input and returns the string in reverse order.

In [29]:
def rever_string(s):
    return (s[::-1])


print(rever_string(input("enter the string")))

demha

### Q14. Write a Python function word_count(sentence) that takes a sentence as input and returns the number of words in the sentence.

In [31]:
def word_count(sentence):
    words = sentence.split()
    return len(words)

### Q15. Write a Python function remove_elements(lst, n) that takes a list and an index n as input and removes the element at index n from the list.

In [33]:
def remove_elements(list,n):
   x= list.pop(n)
   return (l)



l=[1,2,3,4,6,7]
print(remove_elements(l,3))

[1, 2, 3, 6, 7]

### Q16. Write a Python function duplicate_list(lst) that takes a list as input and returns a new list that duplicates the elements of the original list.

In [ ]:
def duplicate_list(l):
    return l + l

### Q17. Write a Python function is_divisible(num1, num2) that takes two numbers as input and returns True if the first number is divisible by the second number, and False otherwise.

In [35]:
def is_divisible(num1, num2):
    if num1%num2==0:
        return True
    else:
        return False
    


is_divisible(2,2)

True

### Q18. Write a Python function power(base, exponent) that takes a base and an exponent as input and returns the result of the base raised to the exponent.

In [38]:
def power(base, exponent):
        result=base**exponent
        return(result)
    

power(2,3)

8

### Q19. Write a program which will find all such numbers which are divisible by 7 but are not divisible by 5, between 2000 and 3000 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [44]:
i=2000
x=3000
while i<=x:
    if i%7==0 and i%5!=0 :
        print(i)
   
    i=i+1

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996

### 20. Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line.
    5 8
    Then, the output should be:
    120,40320

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

### 21. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
    Suppose the following input is supplied to the program:
    8
    Then, the output should be:
    {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [47]:
n=int(input("enter the length"))
i=1
for i in range(1,n+1):
    print(f'{i}:{i*i}')

1:1
2:4
3:9
4:16
5:25
6:36
7:49
8:64

### 22. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program:
    34,67,55,33,12,98
    Then, the output should be:
    ['34', '67', '55', '33', '12', '98']
    ('34', '67', '55', '33', '12', '98')

In [52]:
x=input("enter the number")
l= x.split(',')
t=tuple(x)
print(l)
t

['']

()

### 23. Write a program that calculates and prints the value according to the given formula:
    Q = Square root of [(2 * C * D) / H], 
        C is 50. H is 30.
        D is the variable whose values should be input to your program in a comma-separated sequence.

- Example
    - Let us assume the following comma separated input sequence is given to the program:
        100,150,180
    - The output of the program should be:
        18,22,24

### 24. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
    Example
        Suppose the following inputs are given to the program:
        3,5
        Then, the output of the program should be:
        [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

### 25. Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program:
    hello world and practice makes perfect and hello world again
    Then, the output should be:
    again and hello makes perfect practice world

In [54]:
def remove_duplicates_and_sort(words):
   
    word_list = words.split()
    unique_words = list(set(word_list))
    sorted_words = sorted(unique_words)
    
  
    return " ".join(sorted_words)

### 26.Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

    Example:
    0100,0011,1010,1001
    Then the output should be:
    1010

### 27. Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

In [4]:
i=1000
even_list=[]
while i>=1000 and i<=3000:
    if i%2==0:
        even_list.append(i)
      
    i=i+1      

print(even_list)

[1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286, 1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308, 1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330, 1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352, 1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374, 1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396, 1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418, 1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440, 1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462, 1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484, 1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506, 1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528, 1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550, 1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572, 1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594, 1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616, 1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638, 1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660, 1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682, 1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704, 1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726, 1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748, 1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770, 1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792, 1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814, 1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836, 1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858, 1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880, 1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902, 1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924, 1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946, 1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968, 1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046, 2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2102, 2104, 2106, 2108, 2110, 2112, 2114, 2116, 2118, 2120, 2122, 2124, 2126, 2128, 2130, 2132, 2134, 2136, 2138, 2140, 2142, 2144, 2146, 2148, 2150, 2152, 2154, 2156, 2158, 2160, 2162, 2164, 2166, 2168, 2170, 2172, 2174, 2176, 2178, 2180, 2182, 2184, 2186, 2188, 2190, 2192, 2194, 2196, 2198, 2200, 2202, 2204, 2206, 2208, 2210, 2212, 2214, 2216, 2218, 2220, 2222, 2224, 2226, 2228, 2230, 2232, 2234, 2236, 2238, 2240, 2242, 2244, 2246, 2248, 2250, 2252, 2254, 2256, 2258, 2260, 2262, 2264, 2266, 2268, 2270, 2272, 2274, 2276, 2278, 2280, 2282, 2284, 2286, 2288, 2290, 2292, 2294, 2296, 2298, 2300, 2302, 2304, 2306, 2308, 2310, 2312, 2314, 2316, 2318, 2320, 2322, 2324, 2326, 2328, 2330, 2332, 2334, 2336, 2338, 2340, 2342, 2344, 2346, 2348, 2350, 2352, 2354, 2356, 2358, 2360, 2362, 2364, 2366, 2368, 2370, 2372, 2374, 2376, 2378, 2380, 2382, 2384, 2386, 2388, 2390, 2392, 2394, 2396, 2398, 2400, 2402, 2404, 2406, 2408, 2410, 2412, 2414, 2416, 2418, 2420, 2422, 2424, 2426, 2428, 2430, 2432, 2434, 2436, 2438, 2440, 2442, 2444, 2446, 2448, 2450, 2452, 2454, 2456, 2458, 2460, 2462, 2464, 2466, 2468, 2470, 2472, 2474, 2476, 2478, 2480, 2482, 2484, 2486, 2488, 2490, 2492, 2494, 2496, 2498, 2500, 2502, 2504, 2506, 2508, 2510, 2512, 2514, 2516, 2518, 2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540, 2542, 2544, 2546, 2548, 2550, 2552, 2554, 2556, 2558, 2560, 2562, 2564, 2566, 2568, 2570, 2572, 2574, 2576, 2578, 2580, 2582, 2584, 2586, 2588, 2590, 2592, 2594, 2596, 2598, 2600, 2602, 2604, 2606, 2608, 2610, 2612, 2614, 2616, 2618, 2620, 2622, 2624, 2626, 2628, 2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650, 2652, 2654, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672, 2674, 2676, 2678, 2680, 2682, 2684, 2686, 2688, 2690, 2692, 2694, 2696, 2698, 2700, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716, 2718, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2736, 2738, 2740, 2742, 2744, 2746, 2748, 2750, 2752, 2754, 2756, 2758, 2760, 2762, 2764, 2766, 2768, 2770, 2772, 2774, 2776, 2778, 2780, 2782, 2784, 2786, 2788, 2790, 2792, 2794, 2796, 2798, 2800, 2802, 2804, 2806, 2808, 2810, 2812, 2814, 2816, 2818, 2820, 2822, 2824, 2826, 2828, 2830, 2832, 2834, 2836, 2838, 2840, 2842, 2844, 2846, 2848, 2850, 2852, 2854, 2856, 2858, 2860, 2862, 2864, 2866, 2868, 2870, 2872, 2874, 2876, 2878, 2880, 2882, 2884, 2886, 2888, 2890, 2892, 2894, 2896, 2898, 2900, 2902, 2904, 2906, 2908, 2910, 2912, 2914, 2916, 2918, 2920, 2922, 2924, 2926, 2928, 2930, 2932, 2934, 2936, 2938, 2940, 2942, 2944, 2946, 2948, 2950, 2952, 2954, 2956, 2958, 2960, 2962, 2964, 2966, 2968, 2970, 2972, 2974, 2976, 2978, 2980, 2982, 2984, 2986, 2988, 2990, 2992, 2994, 2996, 2998, 3000]

### 28. Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program:

    "hello world 123"
    Then, the output should be:
        LETTERS 10
        DIGITS 3

In [10]:

s = input("Enter a sentence ")


letterscount = 0
digitscount = 0

for char in s:
    if char.isalpha():  
        letterscount += 1
    elif char.isdigit():  
        digitscount += 1

print("LETTERS", letterscount)
print("DIGITS", digitscount)

LETTERS 10
DIGITS 3

### 29. Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program:

    Hello World
    Then, the output should be:
        UPPER CASE 2
        LOWER CASE 8

In [9]:
s=str(input("please enter the string"))
uppercase=0
lowercase=0
for i in s:
    if ('A'<=   i and 'Z'>=i):
        uppercase+=1
    elif     ('a'<=i and 'z'>=i):
        lowercase+=1

print (f"upper case is {uppercase}")
print (f"lower case is {lowercase}")

upper case is 5
lower case is 5

### 30. Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program:
    1,2,3,4,5,6,7,8,9
    Then, the output should be:
    1,9,25,49,81

In [20]:
s=str(input("please enter the string"))
number=[int (i) for i in s.split(',')]
num = [j**2 for j in number if j % 2 != 0]
        
print(num)

[1, 9]

### 31. You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
    1: Sort based on name;
    2: Then sort based on age;
    3: Then sort by score.
    The priority is that name > age > score.

    If the following tuples are given as input to the program:
        Tom,19,80
        John,20,90
        Jony,17,91
        Jony,17,93
        Json,21,85
    Then, the output of the program should be:
    [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [23]:
my_dict={('tom',19,80),('john',20,90),('johny',17,91)}
tuplee=sorted(my_dict)
print(tuplee)

[('john', 20, 90), ('johny', 17, 91), ('tom', 19, 80)]

### 32. Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [25]:
def cheack(x):
    if x%2==0:
        print('is even number')
    else :
        print('is odd number')
          
    
z=int(input('enter the integer please'))
cheack(z)

is odd number

### 33.The Fibonacci Sequence is computed based on the following formula:
    f(n)=0 if n=0
    f(n)=1 if n=1
    f(n)=f(n-1)+f(n-2) if n>1

- Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

- Example:

    If the following n is given as input to the program:
    7
    Then, the output of the program should be:
    0,1,1,2,3,5,8

In [ ]:
num=int(input())
l=[]
def fib(num):
    if num==0:
        return 0
    elif num==1:
        return 1
    else:
        return (fib(num-1)+fib(num-2))
        
l = [fib(i) for i in range(num)]
print(l)

### 47. Create a tuple with three elements and unpack it into three variables.

### 48. Create a dictionary representing a person with keys "name," "age," and "city."

In [64]:
d={"Name":['MOH','ABDELRAHMAN','AHMED'],"Age":[21,45,30],"City":['LONDON','PARIS','LOS']}

### 49. Access and print the value associated with the "age" key in the dictionary

In [39]:
d.get("Age")

[21, 45, 30]

### 50. Update the age in the dictionary to a new value.

In [40]:
d.update({"Age":[25,34,56]})

### 51. Iterate through the keys and values in the dictionary and print them.

### 52. Find and print the number of key-value pairs in the dictionary.

In [44]:
d.keys()

dict_keys(['Name', 'Age', 'City'])

### 53. Remove the "city" key from the dictionary.

In [62]:
d.pop("City")

['LONDON', 'PARIS', 'LOS']

### 54. Check if the "gender" key exists in the dictionary and print the result.

In [67]:
if d.get("gender")==None:
    print("not exist")
else:
    print("exist")

not exist

### 55. Create a second dictionary with additional information and merge it with the original dictionary.

In [68]:
d2={"department": ['Engineer', 'Teacher', 'Doctor'],"ID": [1, 2, 3]}
for key, value in d2.items():
    d[key] = value

### 56. Write a program to get the keys of the dictionary as a list.

In [71]:
l=list(d.keys())
l

['Name', 'Age', 'City', 'department', 'ID']

### 57. Write a program to get the values of the dictionary as a list.

In [72]:
l=list(d.values())
l

[['MOH', 'ABDELRAHMAN', 'AHMED'],
 [21, 45, 30],
 ['LONDON', 'PARIS', 'LOS'],
 ['Engineer', 'Teacher', 'Doctor'],
 [1, 2, 3]]

### 58. Remove the key-value pair with the "name" key from the dictionary.

In [73]:
d.pop("Name")

['MOH', 'ABDELRAHMAN', 'AHMED']

### 59. Clear all items from the dictionary.

In [76]:
d.clear()

### 60. Write a program to print the dictionary keys in sorted order.

In [90]:
d2={"department": ['Engineer', 'Teacher', 'Doctor'],"ID": [1, 2, 3]}
sorted_=sorted(d2.keys())
print(sorted_)

['ID', 'department']

### 61. Write a program to print the dictionary values in sorted order.

In [96]:
d5={"NAME":["AHMED","MOH","TETO"]}

In [97]:
sorted_v=sorted(d5.values())
print(sorted_v)

[['AHMED', 'MOH', 'TETO']]

### 62. Find and print the key with the maximum value in the dictionary.

In [99]:
max(d2.keys())

'department'

### 63. Find and print the key with the minimum value in the dictionary.

In [100]:
min(d2.keys())

'ID'

### 64. Use dictionary comprehension to create a dictionary with squares of numbers from 1 to 5.

In [101]:
d4 = {num: num*num for num in range(1, 6)}
d4

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### 65. Swap the keys and values in the dictionary and print the result.

In [102]:
d1 = {"Name": "ahmed","Age": 30,"City": "Cairo","Salary": 50000}
d2 = {}

for key, value in d1.items():
    d2[value] = key
d2

{'ahmed': 'Name', 30: 'Age', 'Cairo': 'City', 50000: 'Salary'}

### 66. Create a list of integers with values 1 to 5.

In [108]:
l2=[1,2,3,4,5]

### 67. Access and print the third element of the list.

In [ ]:
l2[2]

### 68. Modify the second element of the list to have a new value.

In [ ]:
l2[1]=3

### 69. Find and print the number of elements in the list.

In [103]:
len(l2)

5

### 70. Add a new element to the end of the list.

In [109]:
l2.append(6)
l2

[1, 2, 3, 4, 5, 6]

### 71. Create two lists and concatenate them into a new list.

In [112]:
l2=[1,2,3]
l3=[4,5,6]
l4=l2+l3
l4

[1, 2, 3, 4, 5, 6]

### 72. Repeat the list three times and print the result.

In [113]:
l6=l4 * 3
l6

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

### 73. Create a list of numbers from 1 to 10 and print only the elements from index 3 to 7.

In [114]:
l1=[1,2,3,4,5,6,7,8,9,10]
for i in range(l1[3],l1[8]):
    print(i)

4
5
6
7
8

### 74. Use a loop to print each element of the list.

In [116]:
l1=[1,2,3,4,5,6,7,8,9,10]
for i in l1:
    print(i)

1
2
3
4
5
6
7
8
9
10

### 75. Write a program to sort the list in ascending order.

In [118]:
l1=[20,34,55,23,42,1,2]
l1.sort()
l1

[1, 2, 20, 23, 34, 42, 55]

### 76. Reverse the order of elements in the list.

In [119]:
l1=[20,34,55,23,42,1,2]
l1.reverse()
l1

[2, 1, 42, 23, 55, 34, 20]

### 77. Remove the third element from the list.

In [120]:
l1.pop(2)

42

### 78. Clear all elements from the list.

In [121]:
l1.clear()

### 79. Use list comprehension to create a list of squares of numbers from 1 to 5.

In [122]:
l1=[num**2 for num in range(1,6)]
l1

[1, 4, 9, 16, 25]

### 80. Create a list with three elements and unpack it into three variables.

In [124]:
l1=[1,2,3]
a=l1[0]
b=l1[1]
c=l1[2]
print(a,b,c)

1 2 3